* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.margin {
    padding: 20px;
}

.fonts {
    word-spacing: 8px;
    letter-spacing: 2px;
    line-height: 20px;
    font-size: 2em;
    margin-bottom: 1em;
    text-decoration: underline red;
}
body {
    font-family: Dancing Script, cursive;
}
.text {
    font-size: 1.5em;
    text-align: justify;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 55px;
}

/* ======================================= */
nav {
    position: fixed;
    display: flex;
    width: 100%;
    background: black;
    top: 0;
    left: 0;
    z-index: 4;
}

nav li {
    list-style: none;
}

nav li a {
    color: white;
    display: block;
    text-decoration: none;
    font-size: 2.5em;
    padding: .1em .2em;
    margin: 0 .5em;
    border-bottom: 3px solid black;
}


nav li a:hover {
    border-bottom: 3px solid red;
    transition-delay: 0.1s;
    transition-duration: 0.5s;
}


/* Navigation ends */
/* ================================================================================= */
main {
    margin-top: 55px;
}

section {
    padding: 20px;
}

/* =================================================================================================== */
/* Home section */
.sec1 {
    background: rgb(98, 98, 98);
    background: linear-gradient(50deg, rgb(84, 193, 138), rgb(109, 109, 241));
    display: flex;
    padding: 0;
    max-height: 100vh;
}

.sec1 .div1 img {
    height: 100%;

}

.sec1 .div2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

.sec1 .div2 p {
    font-size: 1.5em;
    color: white;
    letter-spacing: 4px;
    word-spacing: 7px;
}

.name {
    font-size: 5em;
    transition: all 0.3s ease-in-out, opacity 1.5s ease-in-out; /* Add opacity transition */
    width: 100%;
    margin-bottom: 20px;
}

.name::first-letter {
    color: rgb(159, 216, 26);
}

/* Home section ends. */

/* ====================================================================================================== */
/* About section */
.sec2 {
    background-color: lightblue;
}

.sec2 p {
    text-align: justify;
}

#saveSoil {
    width: 70%;
    margin: 0 auto;
    background-color: rgb(10, 145, 66);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#saveSoil > a {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    background-color: rgb(11, 217, 11);
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: transform ease-in-out .3s;
}

#saveSoil > a:hover {
    transform: scale(1.2);
}

/* About section ends. */

/* ============================================================================================== */
/* Project section */
.sec3 {
    background-color: antiquewhite;

}

.sec3 div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 1;
}

.sec3 div div {
    width: 20em;
    height: 18em;
    background: linear-gradient(45deg, rgb(96, 115, 219) 50%, rgb(219, 26, 177) 50%);
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    display: block;
    text-align: center;
}

.sec3 div div:hover {
    background: linear-gradient(45deg, rgb(96, 115, 219), rgb(219, 26, 177));

}

.sec3 div h4 {
    font-size: 1.5em;
}

.sec3 .info {
    opacity: 0;
}

.sec3 div div:hover .info {
    opacity: 1;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

/* Project section ends. */


/* ==================================================================================================== */
/* Skill section */
.sec4 {
    background-color: rgb(234, 218, 249);
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill {
    /* height: 200px; */
    width: 400px;
    margin: 20px;
    background-image: linear-gradient(rgb(172, 250, 224), rgb(50, 224, 239));
    padding: 15px;
    border-radius: 1em;
    transition: transform .5s ease-in-out, box-shadow .5s ease-in-out;
    cursor: pointer;

}

.skill:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px black;

}

.skill h4 {
    font-size: 1.6em;
    margin-bottom: .6em;
    text-align: center;
}

.skill div {
    height: fit-content;
    width: 100%;
    background-color: rgb(213, 213, 213);
    border-radius: 15px;
}

.skill .progress {
    height: fit-content;
    background-color: rgb(4, 159, 4);
    color: white;
    font-size: 9px;
    padding: 2px;
    text-align: right;
    margin-bottom: 1em;
}

.skill .level {
    opacity: 0;
    margin-top: .5em;
    text-align: center;
    border-top-style: double;
    border-bottom-style: double;
    transition-duration: 1s;
    color: red;
    font-weight: bold;
}

.skill:hover .level {
    opacity: 1;
}

/* Skill section ends */


/* ======================================================================================================= */
/* Contact section */
.sec5 {
    background: linear-gradient(45deg, rgb(203, 203, 116), rgb(122, 122, 226));
}

.sec5 p {
    margin-bottom: 1em;
}

.contact-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.contact-div a {
    margin: 1.5em;
    float: left;
}

.contact-div img {
    width: 7em;
    border-radius: 1em;
    transition: transform .5s ease-in-out, box-shadow .5s ease-in-out;
}

.contact-div img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px black;
}

/* Contact section ends */

/* ======================================================================================================= */
/* Footer section */
footer {
    background-color: rgb(30, 29, 29);
    color: wheat;
    padding: 1em;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



footer .name {
    text-align: center;
    font-size: 2em;
}

footer h6 {
    text-align: center;
    border-bottom-style: double;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-top: 2em;
}

/* Footer section ends */



/* ============================================================================================== */
/* Media Query */

@media screen and (max-width: 965px) {
    nav li a {
        margin: 0 .5em;
        font-size: 2.3em
    }

    .sec1 img {
        width: 90%;
    }

    .name {
        font-size: 4em;
    }

    main {
        margin-top: 53px;
    }

    html {
        scroll-padding-top: 53px;
    }
}

@media screen and (max-width: 800px) {
    nav li a {
        margin: 0 .4em;
        font-size: 2.1em;
    }

    .name {
        font-size: 3em;
    }

    .sec1 .div2 p {
        font-size: 1.1em;
    }

    main {
        margin-top: 48px;
    }

    html {
        scroll-padding-top: 48px;
    }
}

@media screen and (max-width: 650px) {
    body {
        font-family: fantasy;
    }
    nav li a {
        margin: 0 .5em;
        font-size: 1.7em;
    }

    .contact-div a {
        margin: 1em;
    }

    .contact-div img {
        width: 6em;
    }

    main {
        margin-top: 39px;
    }

    html {
        scroll-padding-top: 39px;
    }
}

@media screen and (max-width: 600px) {
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        top: auto;
        bottom: 0;
        padding: .5em 0;
    }

    nav li a {
        font-size: 1.5em;
        background-color: rgb(70, 67, 67);
        border-radius: 5px;
        padding: 2px 5px;
    }

    .text {
        font-size: 1.2em;
    }

    .fonts {
        font-size: 1.7em;
    }

    html {
        scroll-padding-top: 0;
    }

    main {
        margin-top: 0;
    }

    footer {
        margin-bottom: 50px;
    }

    .sec1 {
        display: block;
    }

    .sec1 .div1 {
        display: flex;
        justify-content: center;
        border-bottom: .5em rgb(237, 70, 195) double;
    }

    .sec1 .div1 img {
        height: 95%;
    }

    .sec1 .div2 {
        padding: 4em 0;
        display: flex;
        justify-content: center;
    }

    .sec1 .div2 p {
        font-size: 1em;
        margin-top: .5em;
    }

    .sec1 h1,
    p {
        text-align: center;
    }

    .sec3 div div {
        width: 90%;
    }

    .skill {
        margin: 10px;
    }

    .contact-div {
        justify-content: space-evenly;
        align-content: space-between;
    }

    .contact-div a {
        margin: 0;
    }

    .contact-div img {
        margin: .8em;
    }
    footer {
        font-size: 13px;
    }
    .footer-container {
        display: flex;
        gap: 5px;
    }
    .footer-container div {
        text-align: left;
    }
    footer .name {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 550px) {
    .skills {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 515px) {
    
    nav li a {
        font-size: 1em;
        border-radius: 5px;
        margin: 0;
        padding: 2px 4px;
    }

    .name {
        font-size: 2.5em;
    }

    html {
        scroll-padding-top: 0;
    }

    main {
        margin-top: 0;
    }

    .text {
        font-size: 1em;
    }

    section {
        padding: 7px;
    }

    footer {
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 400px) {
    
    
    nav li a {
        font-size: 1em;

    }

    .name {
        font-size: 2.2em;
    }

    .sec1 .div2 {
        padding: 2em 0;
    }

    .text {
        font-size: 1.2em;
    }

    .skill {
        height: 80%;
        width: 80%;
    }

    .contact-div a {
        width: -moz-fit-content;
        width: fit-content;
    }

    .contact-div img {
        margin: .2em;
        width: 100px;
    }
    footer {
        margin-bottom: 45px;
    }
    .footer-container div {
        text-align: left;
    }
}

@media screen and (max-width: 350px) {
    
    nav li a {
        font-size: 1em;
    }

    .fonts {
        font-size: 1.2em;
    }

    .text {
        font-size: .8em;
    }

    .sec3 div h4 {
        font-size: 1.2em;
    }

    .skill h4 {
        font-size: 1.2em;
    }
    footer {
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 300px) {
    nav li a {
        font-size: .8em;
    }


    .name {
        font-size: 1.7em;
    }

    .sec1 .div2 p {
        font-size: .8em;
    }

    footer .name,
    h3 {
        font-size: 1.3em;
    }

    footer h3 {
        font-size: 1em;
    }

    .text {
        font-size: 1em;
    }
}
